<div id="party" class="panel panel-default" style="width:500px; display: none;">
  <div class="panel-heading">Party</div>
  <div class="panel-body" style="padding:0px;">
    <table>
      <tr>
        <td>
          <ul id="party-box" class="list-grid" style="width: 325px;">
          </ul>
        </td>
        <td>
          <div id="party-pokemonName"> </div>
          <div id="party-pokemonLevel"> </div>
          
          <div class="progress" style="width:150px">
            <div id="party-pokemonHealth" class="progress-bar"></div>
          </div>

          <div id="party-pokemonConditionEffects"> </div>

        </td>
      </tr>
    </table>
  </div>
</div>