<div class="party panel panel-default" style="width:500px; display: none;">
  <div class="panel-heading">Party</div>
  <div class="panel-body" style="padding:0px;">
    <table>
      <tr>
        <td>
          <ul class="party-box list-grid" style="width: 325px;">
          </ul>
        </td>
        <td>
          <div class="party-pokemonName"> </div>
          <div class="party-pokemonLevel"> </div>

          <div class="progress" style="width:150px">
            <div class="party-pokemonHealth" class="progress-bar"></div>
          </div>

          <div class="party-pokemonConditionEffects"> </div>
        </td>
      </tr>
    </table>
  </div>
</div>