<div id="selectpokemon" class="panel panel-default" style="width:500px; display: none;">
  <div class="panel-heading">Select a Pokemon</div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <select id="selectpokemon-pokemonDropdown" class="dropdown">
          </select>
        </td>
        <td>
          <div id="selectpokemon-pokemon" class="pokemon-sprite"></div>
          <div class="progress" style="width:200px">
            <div id="selectpokemon-healthMeter" class="progress-bar"></div>
          </div>
        </td>
      </tr>
    </table>
    <div class="center">
      <button id="selectpokemon-acceptButton" class="btn btn-success">Accept</button>
      <button id="selectpokemon-cancelButton" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>