<div class="controller-selectpokemon panel panel-default" style="width:500px; display: none;">
  <div class="panel-heading">Select a Pokemon</div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <select id="selectpokemon-pokemonDropdown" class="dropdown">
          </select>
        </td>
        <td>
          <div class="controller-pokemonsprite"></div>
          <div class="controller-pokemonHealth"></div>
        </td>
      </tr>
    </table>
    <div class="center">
      <button id="selectpokemon-acceptButton" class="btn btn-success">Accept</button>
      <button id="selectpokemon-cancelButton" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>